<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="AbLedger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add connectionString="DataSource=C:\DevProjects\AbundanceMinistries\AbLedger\AbLedger\Data\AbLedgerData.db" name="DbCnn"/>
  </connectionStrings>
  <userSettings>
    <AbLedger.Properties.Settings>
      <setting name="BackupFolder" serializeAs="String">
        <value />
      </setting>
    </AbLedger.Properties.Settings>
  </userSettings>
</configuration>